.add-to-cart{
    font-size: 17px;
    background-color: rgb(255, 216, 20);
    border: none;
    padding: 10px 40px;
    border-radius: 50px;
    font-family: Arial;
    cursor: pointer;
}

.request-now{
    color: white;
    background-color: black;
    font-weight: bold;
    font-size: 17px;
    padding: 10px 25px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 10px;
}

.schedule-later{
    color: black;
    background-color: rgb(230, 230, 230);
    font-weight: bold;
    font-size: 17px;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.is-toggle{
    background-color: rgb(234, 231, 231);
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.is-toggled{
    background-color: black;
    color: white;
}