.subscribe-button{
    background-color: rgb(rgba(212, 163, 163, 0.351), green, blue);
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: large;
}

.subscribed-button{
    background-color:red;
    color: white;
}