.add-to-cart-btn{
    border: none;
    border-radius: 5px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: #04AA6D;
    font-size: 15px;
    padding: 10px 15px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-top: 7px;
    margin-bottom: 5px;
}
.add-to-cart-btn:hover{
    box-shadow: 5px 10px green;
    text-shadow: 1px 1px blue;
    transition: 0.5s;
    color: rgb(9, 246, 9);
}
.container{
    border: solid red;
    margin-right: 1000px;
    opacity: 0.5;
    padding: 10px;
    transition: opacity .3s ease;
}

.container:hover{
    opacity: 1;
}

.added{
    color: green;
    opacity: 0;
}

.added-visible{
    opacity: 1;
}